<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>XtraFinder_ShowStatusBarIcon</key>
	<true/>
	<key>XtraFinder_XFAlwaysShowToolbarPlugin</key>
	<true/>
	<key>XtraFinder_XFAutoArrangeByNamePlugin</key>
	<true/>
	<key>XtraFinder_XFBrowserViewColorPlugin</key>
	<false/>
	<key>XtraFinder_XFBrowserViewMiddleClickPlugin</key>
	<true/>
	<key>XtraFinder_XFColorfulSidebarPlugin</key>
	<true/>
	<key>XtraFinder_XFCopyPathMenuPlugin</key>
	<true/>
	<key>XtraFinder_XFCopyPathMenuPlugin_Default</key>
	<integer>0</integer>
	<key>XtraFinder_XFCutAndPastePlugin</key>
	<true/>
	<key>XtraFinder_XFDualWindowActionPlugin</key>
	<true/>
	<key>XtraFinder_XFDualWindowActionPlugin_SystemWideShortCut</key>
	<false/>
	<key>XtraFinder_XFFolderItemCountPlugin</key>
	<true/>
	<key>XtraFinder_XFFoldersOnTopPlugin</key>
	<true/>
	<key>XtraFinder_XFGoUpToolbarButtonPlugin</key>
	<true/>
	<key>XtraFinder_XFHideDotFilesOnDesktopPlugin</key>
	<true/>
	<key>XtraFinder_XFLabelsInSidebarPlugin</key>
	<false/>
	<key>XtraFinder_XFNewFileActionPlugin</key>
	<true/>
	<key>XtraFinder_XFNewTerminalActionPlugin</key>
	<true/>
	<key>XtraFinder_XFPathBarBreadcrumbMenuPlugin</key>
	<true/>
	<key>XtraFinder_XFRenameActionPlugin</key>
	<false/>
	<key>XtraFinder_XFTabPlugin</key>
	<true/>
	<key>XtraFinder_XFTabPlugin_MiddleClickOpenInSecondPanel</key>
	<false/>
	<key>XtraFinder_XFTabPlugin_NarrowTabBar</key>
	<true/>
	<key>XtraFinder_XFTabPlugin_NewTabShortcut</key>
	<dict>
		<key>keyCharsIgnoringModifiers</key>
		<string>t</string>
		<key>keyCode</key>
		<integer>17</integer>
		<key>modifierFlags</key>
		<integer>1048576</integer>
	</dict>
	<key>XtraFinder_XFTabPlugin_NewTabWithSamePath</key>
	<true/>
	<key>XtraFinder_XFTabPlugin_PinnableWindow_Slide</key>
	<true/>
	<key>XtraFinder_XFTabPlugin_ReopenClosedTabShortcut</key>
	<dict>
		<key>keyCharsIgnoringModifiers</key>
		<string>t</string>
		<key>keyCode</key>
		<integer>17</integer>
		<key>modifierFlags</key>
		<integer>1179648</integer>
	</dict>
	<key>XtraFinder_XFTabPlugin_SaveOpenTabs</key>
	<true/>
	<key>XtraFinder_XFTabPlugin_SelectNextTabShortcut</key>
	<dict>
		<key>keyCharsIgnoringModifiers</key>
		<string>	</string>
		<key>keyCode</key>
		<integer>48</integer>
		<key>modifierFlags</key>
		<integer>262144</integer>
	</dict>
	<key>XtraFinder_XFTabPlugin_SelectPreviousTabShortcut</key>
	<dict>
		<key>keyCharsIgnoringModifiers</key>
		<string>	</string>
		<key>keyCode</key>
		<integer>48</integer>
		<key>modifierFlags</key>
		<integer>393216</integer>
	</dict>
	<key>XtraFinder_XFTabPlugin_ShiftClickOpenInSecondPanel</key>
	<false/>
	<key>XtraFinder_XFTabPlugin_ShowPinButton</key>
	<true/>
	<key>XtraFinder_XFTabPlugin_ShowSecondSidebar</key>
	<true/>
	<key>XtraFinder_XFTabPlugin_ShowSideBar</key>
	<true/>
	<key>XtraFinder_XFTabPlugin_SidebarWidth</key>
	<real>192</real>
	<key>XtraFinder_XFTabPlugin_ToggleDualPanelShortcut</key>
	<dict>
		<key>keyCharsIgnoringModifiers</key>
		<string>u</string>
		<key>keyCode</key>
		<integer>32</integer>
		<key>modifierFlags</key>
		<integer>1048576</integer>
	</dict>
	<key>XtraFinder_XFToolbarButtonService</key>
	<true/>
</dict>
</plist>
